app-template:
  controllers:
    main:
      containers:
        main:
          image:
            repository: docker.io/caronc/apprise
            tag: v1.3.1
          env:
            TZ: Europe/Ljubljana
            APPRISE_STATEFUL_MODE: disabled
  service:
    main:
      ports:
        http:
          port: 8000
  ingress:
    main:
      enabled: true
      className: internal
      annotations:
        nginx.ingress.kubernetes.io/auth-url: http://tinyauth.tinyauth.svc.cluster.local:3000/api/auth/nginx
        nginx.ingress.kubernetes.io/auth-signin-redirect-param: redirect_uri
