apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: paperless-secret
spec:
  refreshInterval: 1h0m0s
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secrets-manager
  target:
    name: paperless-secret
    template:
      data:
        PAPERLESS_ADMIN_USER: "{{ `{{ .adminUser }}` }}"
        PAPERLESS_AUTO_LOGIN_USERNAME: "{{ `{{ .adminUser }}` }}"
        PAPERLESS_ADMIN_PASSWORD: "{{ `{{ .adminPassword }}` }}"
        PAPERLESS_SECRET_KEY: "{{ `{{ .secretKey }}` }}"
  data:
  - secretKey: adminUser
    remoteRef:
      key: "PAPERLESS_ADMIN_USER"
  - secretKey: adminPassword
    remoteRef:
      key: "PAPERLESS_ADMIN_PASSWORD"
  - secretKey: secretKey
    remoteRef:
      key: "PAPERLESS_SECRET_KEY"
