apiVersion: v1
kind: Secret
metadata:
  name: paperless-secret
type: Opaque
stringData:
  PAPERLESS_ADMIN_USER: "{{ .Values.paperless.adminUser }}"
  PAPERLESS_ADMIN_PASSWORD: "{{ .Values.paperless.adminPassword }}"
  PAPERLESS_SECRET_KEY: "{{ .Values.paperless.secretKey }}"
  PAPERLESS_URL: "{{ .Values.paperless.url }}"
  PAPERLESS_SOCIALACCOUNT_PROVIDERS: |
    "openid_connect": {
        "OAUTH_PKCE_ENABLED": True,
        "APPS": [
            {
                "provider_id": "pocketid",
                "name": "PocketID",
                "client_id": "paperless",
                "secret": "{{ .Values.paperless.oidc.secret }}",
                "settings": {
                    "fetch_userinfo": True,
                    "oauth_pkce_enabled": True,
                    "server_url": "{{ .Values.paperless.oidc.server }}",
                    "uid_field": "sub",
                },
            },
        ]
    }
