apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cross-seed
spec:
  refreshInterval: 1h0m0s
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secrets-manager
  target:
    name: cross-seed-test
    manifest:
      apiVersion: v1
      kind: ConfigMap
    template:
      data:
        config.js: |
          module.exports = {
            port: 80,
            delay: 5,

            torznab: [
              "http://prowlarr.prowlarr/3/api?apikey={{ `{{ .prowlarrApiKey }}` }}",
              // "http://prowlarr.prowlarr/5/api?apikey={{ `{{ .prowlarrApiKey }}` }}",
            ],

            action: "inject",
            matchMode: "safe",
            skipRecheck: true,
            includeEpisodes: true,
            includeNonVideos: true,
            duplicateCategories: true,
            outputDir: "/tmp",
            torrentDir: "/mnt/torrents",
            qbittorrentUrl: "https://{{ `{{ .qbittorrentUser }}` }}:{{ `{{ .qbittorrentPassword }}` }}@{{ `{{ .qbittorrentUrl }}` }}",
            rssCadence: "15 minutes", // autobrr doesnt get every announcement
          };
  data:
  - secretKey: prowlarrApiKey
    remoteRef:
      key: "PROWLARR_API_KEY"
  - secretKey: qbittorrentUser
    remoteRef:
      key: "QBITTORRENT_USERNAME"
  - secretKey: qbittorrentPassword
    remoteRef:
      key: "QBITTORRENT_PASSWORD"
  - secretKey: qbittorrentUrl
    remoteRef:
      key: "QBITTORRENT_URL"
