app-template:
  controllers:
    main:
      type: cronjob
      cronjob:
        schedule: "@daily"
        ttlSecondsAfterFinished: 86400
      containers:
        main:
          image:
            repository: ghcr.io/recyclarr/recyclarr
            tag: 7.5.2
          command: ["/app/recyclarr/recyclarr"]
          args: ["sync"]
          envFrom:
            - secretRef:
                name: recyclarr
      pod:
        restartPolicy: OnFailure
  service:
    main:
      enabled: false
  persistence:
    config:
      enabled: true
      type: configMap
      name: recyclarr
      globalMounts:
        - path: /config/recyclarr.yml
          readOnly: true
          defaultMode: 0775
          subPath: recyclarr.yml
