app-template:
  controllers:
    main:
      type: statefulset
      replicas: 1
      annotations:
        reloader.stakater.com/auto: "true"
      containers:
        main:
          image:
            repository: ghcr.io/taxel/plextraktsync
            tag: 0.31.5
          args:
            - watch
          env:
            PLEX_BASEURL: http://plex.plex.svc.cluster.local:32400
            PLEX_LOCALURL: http://plex.plex.svc.cluster.local:32400
          envFrom:
            - secretRef:
                name: plex-trakt-sync # PLEX_TOKEN, PLEX_USERNAME, TRAKT_USERNAME
          probes:
            liveness:
              enabled: false
            readiness:
              enabled: false
            startup:
              enabled: false
  service:
    main:
      enabled: false

  ingress:
    main:
      enabled: false

  persistence:
    config:
      enabled: true
      existingClaim: plex-trakt-sync
      globalMounts:
        - path: /app/config
    config-yaml:
      enabled: true
      name: plex-trakt-sync
      type: configMap
      globalMounts:
        - subPath: config.yml
          path: /app/config/config.yml
          readOnly: true
