app-template:
  controllers:
    main:
      containers:
        main:
          image:
            repository: gotenberg/gotenberg
            tag: 8.26.0
          resources:
            requests:
              cpu: 200m
              memory: 512M
            limits:
              memory: 1024M
          securityContext:
            privileged: false
      pod:
        securityContext:
          runAsUser: 1001
  service:
    main:
      ports:
        http:
          port: 3000
  ingress:
    main:
      enabled: true
      className: internal
