app-template:
  controllers:
    main:
      annotations:
        reloader.stakater.com/auto: "true"
      replicas: 0
      type: statefulset
      containers:
        main:
          image:
            repository: ghcr.io/cross-seed/cross-seed
            tag: 5.9.2
          env:
            TZ: Europe/Ljubljana
          args:
            - daemon
          resources:
            requests:
              cpu: 10m
              memory: 250Mi
            limits:
              memory: 1000Mi
  service:
    main:
      ports:
        http:
          port: 80
  ingress:
    main:
      enabled: false
  persistence:
    config:
      enabled: true
      type: configMap
      name: cross-seed
      globalMounts:
        - subPath: config.js
          path: /config/config.js
          readOnly: true
