app-template:
  controllers:
    main:
      containers:
        main:
          image:
            repository: sigoden/dufs
            tag: v0.45.0@sha256:9b45a406b019921c7d2a512784a8652fc23a83c5598bf0ddc81d3c130c623f31
          args: ["/data"]
      pod:
        securityContext:
          fsGroup: 1000
          fsGroupChangePolicy: "OnRootMismatch"
  service:
    main:
      ports:
        http:
          port: 5000
  ingress:
    main:
      enabled: true
      className: internal
  persistence:
    data:
      enabled: true
      type: nfs
      path: /volume1/data/static
      globalMounts:
        - path: /data
