app-template:
  controllers:
    main:
      containers:
        main:
          image:
            repository: nginx
            tag: 1.25.3@sha256:6eb953446a36ad7aaa1624ff7b0fba5c8f8742e13fbef572cda3cac202fcf4aa
      pod:
        securityContext:
          fsGroup: 1000
          fsGroupChangePolicy: "OnRootMismatch"
  service:
    main:
      ports:
        http:
          port: 80
  ingress:
    main:
      enabled: true
      className: internal
      annotations:
        hajimari.io/enable: "false"
  persistence:
    data:
      enabled: true
      type: nfs
      path: /volume1/data/drop
      globalMounts:
        - path: /data
    configmap:
      enabled: true
      type: configMap
      name: nginx-config
      globalMounts:
        - path: /etc/nginx/nginx.conf
          subPath: nginx.conf
          readOnly: true
