glauth:
  mfinUserName: mfin
  mfinFirstName: Matjaž
  mfinLastName: Finžgar
  searchUserName: search

app-template:
  controllers:
    main:
      annotations:
        reloader.stakater.com/auto: "true"
      containers:
        main:
          image:
            repository: ghcr.io/glauth/glauth
            tag: v2.4.0@sha256:66095183015481f8c2ac45d79cfceedf3b12a308659cb863e0de3b80995a29ad
          command: ["/app/glauth", "-c", "/etc/glauth/config.toml"]
          resources:
            requests:
              cpu: 5m
              memory: 10Mi
            limits:
              memory: 50Mi
      pod:
        securityContext:
          runAsUser: 1028
          runAsGroup: 100
          fsGroup: 100
          fsGroupChangePolicy: "OnRootMismatch"
  service:
    main:
      ports:
        http:
          port: 5555
        ldap:
          port: 389
  persistence:
    config:
      enabled: true
      type: configMap
      name: glauth-config
      globalMounts:
        - subPath: config.toml
          path: /etc/glauth/config.toml
          readOnly: true
