app-template:
  controllers:
    main:
      replicas: 1
      type: statefulset
      containers:
        main:
          image:
            repository: ghcr.io/sct/overseerr
            tag: 1.35.0
          env:
            TZ: Europe/Ljubljana
            PORT: &port 80
            LOG_LEVEL: info
          resources:
            requests:
              cpu: 10m
              memory: 250Mi
            limits:
              memory: 1000Mi
      pod:
        securityContext:
          runAsUser: 1028
          runAsGroup: 100
          fsGroup: 100
          fsGroupChangePolicy: "OnRootMismatch"
  service:
    main:
      ports:
        http:
          port: *port
  ingress:
    main:
      enabled: true
      className: media
  persistence:
    config:
      enabled: true
      existingClaim: overseerr
      globalMounts:
        - path: /app/config

