app-template:
  controllers:
    main:
      replicas: 1
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"
      containers:
        main:
          image:
            repository: ghcr.io/home-operations/prowlarr
            tag: 2.3.2@sha256:e2459e199564ab852c6e677e951cef36c172a8e71a0e1c90665631b5a0c57438
          env:
            TZ: Europe/Ljubljana
            PROWLARR__INSTANCE_NAME: Prowlarr
            PROWLARR__PORT: &port 80
            PROWLARR__LOG_LEVEL: info
          envFrom:
            - secretRef:
                name: prowlarr-secret
          resources:
            requests:
              cpu: 10m
              memory: 100Mi
            limits:
              memory: 500Mi
      pod:
        securityContext:
          runAsUser: 1028
          runAsGroup: 100
          fsGroup: 100
          fsGroupChangePolicy: "OnRootMismatch"
  service:
    main:
      ports:
        http:
          port: *port
  ingress:
    main:
      enabled: true
      className: internal
      annotations:
        nginx.ingress.kubernetes.io/auth-url: http://tinyauth.tinyauth.svc.cluster.local:3000/api/auth/nginx
        nginx.ingress.kubernetes.io/auth-signin-redirect-param: redirect_uri
  persistence:
    config:
      enabled: true
      existingClaim: prowlarr
