app-template:
  controllers:
    main:
      replicas: 1
      type: statefulset
      containers:
        main:
          image:
            repository: ghcr.io/home-operations/prowlarr
            tag: 2.3.2@sha256:e2459e199564ab852c6e677e951cef36c172a8e71a0e1c90665631b5a0c57438
          env:
            TZ: Europe/Ljubljana
            PROWLARR__APP__INSTANCENAME: Prowlarr
            PROWLARR__AUTH__METHOD: External
            PROWLARR__AUTH__REQUIRED: DisabledForLocalAddresses
            PROWLARR__SERVER__PORT: &port 80
            PROWLARR__LOG__LEVEL: info
          envFrom:
            - secretRef:
                name: prowlarr-secret
          resources:
            requests:
              cpu: 10m
              memory: 100Mi
            limits:
              memory: 500Mi
      pod:
        annotations:
          reloader.stakater.com/auto: "true"
        securityContext:
          runAsUser: 1028
          runAsGroup: 100
          fsGroup: 100
          fsGroupChangePolicy: "OnRootMismatch"
  service:
    main:
      ports:
        http:
          port: *port
  route:
    main:
      hostnames:
        - prowlarr.mfin.app
      parentRefs:
        - name: envoy-internal
          namespace: envoy-gateway
  persistence:
    config:
      enabled: true
      existingClaim: prowlarr
