cilium:
  operator:
    replicas: 1
    rollOutPods: true
    prometheus:
      serviceMonitor:
        enabled: false
    dashboards:
      enabled: false
      annotations:
        grafana_folder: Cilium
  prometheus:
    enabled: false
    serviceMonitor:
      enabled: false
      trustCRDsExist: true
  dashboards:
    enabled: false
    annotations:
      grafana_folder: Cilium
  rollOutCiliumPods: true
  containerRuntime:
    # integration: containerd
    socketPath: /var/run/k3s/containerd/containerd.sock
  autoDirectNodeRoutes: true
  routingMode: native
  bandwidthManager:
    enabled: true
    bbr: false
  bpf:
    masquerade: true
  bgp:
    enabled: false
  loadBalancer:
    algorithm: maglev
    mode: dsr
  hubble:
    enabled: true
    metrics:
      enabled:
        - dns:query
        - drop
        - tcp
        - flow
        - port-distribution
        - icmp
        - http
      serviceMonitor:
        enabled: false
      dashboards:
        enabled: false
        annotations:
          grafana_folder: Cilium
    relay:
      enabled: true
      rollOutPods: true
      prometheus:
        serviceMonitor:
          enabled: false
    ui:
      enabled: true
      rollOutPods: true
      ingress:
        enabled: true
        className: internal
        annotations:
          nginx.ingress.kubernetes.io/auth-url: http://tinyauth.tinyauth.svc.cluster.local:3000/api/auth/nginx
          nginx.ingress.kubernetes.io/auth-signin-redirect-param: redirect_uri
  cluster:
    name: kubernetes
    id: 1
  ipam:
    mode: kubernetes
  endpointRoutes:
    enabled: true
  ipv4:
    enabled: true
  ipv6:
    enabled: false
  ipv4NativeRoutingCIDR: 10.42.0.0/16
  k8sServiceHost: 127.0.0.1
  k8sServicePort: 6443
  kubeProxyReplacement: true
  kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256
  l2announcements:
    enabled: true
    leaseDuration: 120s
    leaseRenewDeadline: 60s
    leaseRetryPeriod: 1s
