kube-prometheus-stack:
  cleanPrometheusOperatorObjectNames: true
  grafana:
    enabled: false
    forceDeployDashboards: true
  prometheus:
    route:
      enabled: true
      hostnames:
        - prometheus.mfin.app
      parentRefs:
        - name: envoy-internal
          namespace: envoy-gateway
    prometheusSpec:
      retention: 2d
      retentionSize: 6GB
      enableAdminAPI: true
      walCompression: true
      storageSpec:
        volumeClaimTemplate:
          spec:
            storageClassName: local-hostpath
            resources:
              requests:
                storage: 20Gi
      ruleSelectorNilUsesHelmValues: false
      serviceMonitorSelectorNilUsesHelmValues: false
      podMonitorSelectorNilUsesHelmValues: false
      probeSelectorNilUsesHelmValues: false
  defaultRules:
    additionalRuleLabels:
      temp: temp
  alertmanager:
    route:
      enabled: true
      hostnames:
        - alertmanager.mfin.app
      parentRefs:
        - name: envoy-internal
          namespace: envoy-gateway
    config:
      global:
        resolve_timeout: 5m
      route:
        group_by: ["alertname", "job"]
        group_wait: 30s
        group_interval: 5m
        repeat_interval: 6h
        receiver: pushover
        routes:
          - receiver: healthchecksio
            group_wait: 0s
            group_interval: 1m
            repeat_interval: 1m
            matchers:
              - alertname = "Watchdog"
          - receiver: "null"
            matchers:
              - alertname = "InfoInhibitor"
          - receiver: pushover
            matchers:
              - severity =~ "critical|alert"
            continue: true
          - receiver: pushover
            matchers:
              - severity = "warning"
            continue: true
    alertmanagerSpec:
      storage:
        volumeClaimTemplate:
          spec:
            storageClassName: local-hostpath
            resources:
              requests:
                storage: 1Gi
  kubeControllerManager:
    enabled: true
    serviceMonitor:
      enabled: true
      https: true
      insecureSkipVerify: true
  kubeScheduler:
    enabled: true
    serviceMonitor:
      enabled: true
      https: true
      insecureSkipVerify: true
  kubeProxy:
    enabled: false
  kubeEtcd:
    enabled: true
