pod-gateway:
  controller:
    annotations:
      reloader.stakater.com/auto: "true"

  image:
    repository: ghcr.io/angelnu/pod-gateway
    tag: v1.13.0@sha256:a5b032e15f7570493977b330a5a86dcffebb807d35685ad803e47afb62d105f2

  DNS: 172.16.1.1

  addons:
    vpn:
      enabled: true
      type: gluetun
      gluetun:
        image:
          repository: ghcr.io/qdm12/gluetun
          tag: v3.41.0
      env:
        - name: VPN_SERVICE_PROVIDER
          value: airvpn
        - name: VPN_TYPE
          value: wireguard
        - name: VPN_INTERFACE
          value: wg0
        - name: FIREWALL
          value: "off"
        - name: DOT
          value: "off"
        # Server list: https://raw.githubusercontent.com/qdm12/gluetun/master/internal/storage/servers.json
        - name: SERVER_COUNTRIES
          value: Germany
      envFrom:
        - secretRef:
            name: airvpn
      networkPolicy:
        enabled: false
      securityContext:
        capabilities:
          add:
            - NET_ADMIN

    netshoot:
      enabled: true

  routed_namespaces:
    - prowlarr

  settings:
    NOT_ROUTED_TO_GATEWAY_CIDRS: 10.0.0.0/8 172.16.0.0/12 192.168.0.0/16
    VPN_BLOCK_OTHER_TRAFFIC: true
    VPN_INTERFACE: wg0
    VPN_LOCAL_CIDRS: 10.0.0.0/8 172.16.0.0/12 192.168.0.0/16
    VPN_TRAFFIC_PORT: "1637"
    VXLAN_ID: 43
    VXLAN_IP_NETWORK: 172.16.1

  webhook:
    gatewayAnnotation: setGateway
    gatewayDefault: false
    gatewayLabel: setGateway
    image:
      repository: ghcr.io/angelnu/gateway-admision-controller
      tag: v3.12.0@sha256:6f6ab596afd5fef0ca4648eadfb21cd37ba86fa5afa8b85edcc072976a61fbed
