app-template:
  controllers:
    main:
      replicas: 1
      type: statefulset
      containers:
        main:
          image:
            repository: ghcr.io/home-operations/sonarr
            tag: 4.0.16.2946@sha256:22651c750eedb091f6d76ade95dbecae0eeafe2b55432c3b8d8b042e8745f344
          env:
            TZ: Europe/Ljubljana
            SONARR__INSTANCE_NAME: Sonarr
            SONARR__APPLICATION_URL: https://sonarr.mfin.app
            SONARR__PORT: &port 80
            SONARR__LOG_LEVEL: info
          envFrom:
            - secretRef:
                name: sonarr-secret
          probes:
            liveness: &probes
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /ping
                  port: *port
                initialDelaySeconds: 0
                periodSeconds: 10
                timeoutSeconds: 1
                failureThreshold: 3
            readiness: *probes
            startup:
              enabled: false
          resources:
            requests:
              cpu: 10m
              memory: 250Mi
            limits:
              memory: 1000Mi
      pod:
        annotations:
          reloader.stakater.com/auto: "true"
        securityContext:
          runAsUser: 1028
          runAsGroup: 100
          fsGroup: 100
          fsGroupChangePolicy: "OnRootMismatch"
  service:
    main:
      ports:
        http:
          port: *port
  route:
    main:
      hostnames:
        - sonarr.mfin.app
      parentRefs:
        - name: envoy-internal
          namespace: envoy-gateway
  persistence:
    config:
      enabled: true
      existingClaim: sonarr
    data:
      enabled: true
      type: nfs
      server: synology.mfin.casa
      path: /volume1/data
      globalMounts:
        - path: /data
