apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: oidc-client-secret
spec:
  refreshInterval: 1h0m0s
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secrets-manager
  target:
    name: oidc-client-secret
    template:
      data:
        client-secret: "{{ `{{ .clientSecret }}` }}"
  data:
  - secretKey: clientSecret
    remoteRef:
      key: "ENVOY_OIDC_CLIENT_SECRET"
