$ORIGIN {{ homelab.domain }}.
$TTL 86400
@	IN	SOA	ns.{{ homelab.domain }}.	hostmaster.{{ homelab.domain }}. (
			2001062501 ; serial
			21600      ; refresh after 6 hours
			3600       ; retry after 1 hour
			604800     ; expire after 1 week
			86400 )    ; minimum TTL of 1 day


	IN	NS	ns.{{ homelab.domain }}.

ns	  IN	A	10.10.0.3
