acl LAN {
10.0.0.0/8;
};
options {
        directory "/var/cache/bind";
        allow-query { localhost; LAN; };
        listen-on port 5353 { any; };
        listen-on-v6 port 5353 { any; };
        recursion yes;
};

key "externaldns" {
	algorithm {{ bind9.algorithm }};
	secret "{{ bind9.secret }}";
};

logging {
  channel my_syslog {
    syslog daemon;
    severity info;

    print-time yes;
    print-category yes;
    print-severity yes;
  };

  category default { my_syslog; };
  category queries { null; };
};
