app-template:
  controller:
    type: statefulset
  image:
    repository: ghcr.io/onedr0p/qbittorrent
    tag: 4.5.0@sha256:5ff2064d788100f54770dc5e477f32d41be7e71ee36923a22236053576e39d5d
  env:
    TZ: Europe/Ljubljana
    QBITTORRENT__PORT: &port 80
    QBITTORRENT__BT_PORT: &port-bt 50413
  service:
    main:
      ports:
        http:
          port: *port
    bittorrent:
      enabled: true
      type: LoadBalancer
      ports:
        bittorrent:
          enabled: true
          port: *port-bt
          protocol: TCP
          targetPort: *port-bt
      externalTrafficPolicy: Local
  ingress:
    main:
      enabled: true
      ingressClassName: traefik
  podSecurityContext:
    runAsUser: 1028
    runAsGroup: 100
    fsGroup: 100
    fsGroupChangePolicy: "OnRootMismatch"
  persistence:
    config:
      enabled: true
      existingClaim: qbittorrent-config
    data:
      enabled: true
      type: nfs
      path: /volume1/data
      mountPath: /data
  resources:
    requests:
      cpu: 10m
      memory: 250Mi
    limits:
      memory: 6000Mi
