app-template:
  controllers:
    main:
      replicas: 1
      type: statefulset
      containers:
        main:
          image:
            repository: ghcr.io/onedr0p/qbittorrent
            tag: 4.6.5
          env:
            TZ: Europe/Ljubljana
            QBITTORRENT__PORT: &port 80
            QBITTORRENT__BT_PORT: &port-bt 53392
          hostname: qbittorrent
          resources:
            requests:
              cpu: 10m
              memory: 250Mi
            limits:
              memory: 6000Mi
      pod:
        securityContext:
          runAsUser: 1028
          runAsGroup: 100
          fsGroup: 100
          fsGroupChangePolicy: "OnRootMismatch"
  service:
    main:
      ports:
        http:
          port: *port
        bt:
          port: *port-bt
  ingress:
    main:
      enabled: true
      className: internal
      annotations:
        nginx.ingress.kubernetes.io/auth-method: GET
        nginx.ingress.kubernetes.io/auth-url: http://authelia.authelia.svc.cluster.local/api/verify
        nginx.ingress.kubernetes.io/auth-response-headers: Remote-User,Remote-Name,Remote-Groups,Remote-Email
        nginx.ingress.kubernetes.io/auth-snippet: proxy_set_header X-Forwarded-Method $request_method;
  persistence:
    config:
      enabled: true
      existingClaim: qbittorrent
    data:
      enabled: true
      type: nfs
      path: /volume1/data
      globalMounts:
        - path: /data
