app-template:
  controllers:
    main:
      replicas: 1
      type: statefulset
      containers:
        main:
          image:
            repository: ghcr.io/onedr0p/qbittorrent
            tag: 5.0.4
          env:
            TZ: Europe/Ljubljana
            QBITTORRENT__PORT: &port 80
            QBITTORRENT__BT_PORT: &port-bt 53392
          hostname: qbittorrent
          resources:
            requests:
              cpu: 10m
              memory: 250Mi
            limits:
              memory: 6000Mi
      pod:
        securityContext:
          runAsUser: 1028
          runAsGroup: 100
          fsGroup: 100
          fsGroupChangePolicy: "OnRootMismatch"
  service:
    main:
      ports:
        http:
          port: *port
    bt:
      controller: qbittorrent
      type: LoadBalancer
      ports:
        tcp:
          protocol: TCP
          port: *port-bt
        udp:
          protocol: UDP
          port: *port-bt
  ingress:
    main:
      enabled: true
      className: internal
      annotations:
        nginx.ingress.kubernetes.io/auth-url: http://tinyauth.tinyauth.svc.cluster.local:3000/api/auth/nginx
        nginx.ingress.kubernetes.io/auth-signin-redirect-param: redirect_uri
  persistence:
    config:
      enabled: true
      existingClaim: qbittorrent
    data:
      enabled: true
      type: nfs
      path: /volume1/data
      globalMounts:
        - path: /data
