app-template:
  controllers:
    main:
      replicas: 1
      type: statefulset
      containers:
        main:
          image:
            repository: ghcr.io/home-operations/lidarr
            tag: 3.1.2@sha256:dab0e07502a34436fc50c3e789388f0a29f8cbf681fb7a02ed703ad7c368a22c
          env:
            TZ: Europe/Ljubljana
            LIDARR__INSTANCE_NAME: Lidarr
            LIDARR__PORT: &port 80
            LIDARR__LOG_LEVEL: info
          envFrom:
            - secretRef:
                name: lidarr-secret
          resources:
            requests:
              cpu: 10m
              memory: 250Mi
            limits:
              memory: 1000Mi
      pod:
        securityContext:
          runAsUser: 1028
          runAsGroup: 100
          fsGroup: 100
          fsGroupChangePolicy: "OnRootMismatch"
  service:
    main:
      ports:
        http:
          port: *port
  route:
    main:
      hostnames:
        - lidarr.mfin.app
      parentRefs:
        - name: envoy-internal
          namespace: envoy-gateway
  persistence:
    config:
      enabled: true
      existingClaim: lidarr
    data:
      enabled: true
      server: synology.mfin.casa
      type: nfs
      path: /volume1/data
      globalMounts:
        - path: /data
