app-template:
  controllers:
    main:
      annotations:
        reloader.stakater.com/auto: "true"
      replicas: 1
      type: statefulset
      containers:
        main:
          image:
            repository: ghcr.io/autobrr/autobrr
            tag: v1.73.0
          env:
            TZ: Europe/Ljubljana
          envFrom:
            - secretRef:
                name: autobrr-secret
          resources:
            requests:
              cpu: 10m
              memory: 250Mi
            limits:
              memory: 1000Mi
      pod:
        securityContext:
          runAsUser: 1028
          runAsGroup: 100
          fsGroup: 100
          fsGroupChangePolicy: "OnRootMismatch"
  service:
    main:
      ports:
        http:
          port: 80
  route:
    main:
      hostnames:
        - autobrr.mfin.app
      parentRefs:
        - name: envoy-internal
          namespace: envoy-gateway
  persistence:
    config:
      enabled: true
      existingClaim: autobrr
    config-file:
      enabled: true
      type: configMap
      name: autobrr-config
      globalMounts:
        - subPath: config.toml
          path: /config/config.toml
          readOnly: true
