---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: radarr-api-key
spec:
  refreshInterval: 1h0m0s
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secrets-manager
  target:
    name: radarr-secret
    template:
      data:
        RADARR__API_KEY: "{{ `{{ .apiKey }}` }}"
  data:
  - secretKey: apiKey
    remoteRef:
      key: "RADARR_API_KEY"
