app-template:
  controllers:
    main:
      replicas: 1
      type: statefulset
      containers:
        main:
          image:
            repository: ghcr.io/navidrome/navidrome
            tag: 0.50.2
          env:
            TZ: Europe/Ljubljana
            ND_DATAFOLDER: /config
            ND_ENABLEGRAVATAR: true
            ND_ENABLESHARING: true
            ND_LOGLEVEL: info
            ND_MUSICFOLDER: /data/music
            ND_PORT: &port 80
            ND_PROMETHEUS_ENABLED: true
            ND_REVERSEPROXYUSERHEADER: "Remote-User"
            ND_REVERSEPROXYWHITELIST: "10.42.0.0/16"
            ND_SCANSCHEDULE: "@every 1h"
          resources:
            requests:
              cpu: 10m
              memory: 250Mi
            limits:
              memory: 1000Mi
      pod:
        securityContext:
          runAsUser: 1028
          runAsGroup: 100
          fsGroup: 100
          fsGroupChangePolicy: "OnRootMismatch"
  service:
    main:
      ports:
        http:
          port: *port
  ingress:
    main:
      enabled: true
      className: external
      annotations:
        hajimari.io/enable: "true"
        hajimari.io/icon: music
        hajimari.io/appName: Navidrome
        hajimari.io/info: enjoy your music collection from anywhere
  persistence:
    config:
      enabled: true
      existingClaim: navidrome
    data:
      enabled: true
      type: nfs
      path: /volume1/data
      globalMounts:
        - path: /data
