app-template:
  controllers:
    main:
      replicas: 1
      containers:
        main:
          image:
            repository: ghcr.io/corentinth/it-tools
            tag: latest@sha256:8b8128748339583ca951af03dfe02a9a4d7363f61a216226fc28030731a5a61f
          env:
            TZ: Europe/Ljubljana
          probes:
            liveness:
              enabled: false
            readiness:
              enabled: false
            startup:
              enabled: false
          resources:
            requests:
              cpu: 100m
              memory: 500Mi
            limits:
              memory: 2500Mi
  service:
    main:
      ports:
        http:
          port: 80
  ingress:
    main:
      enabled: true
      className: internal
      annotations:
        nginx.ingress.kubernetes.io/auth-url: http://tinyauth.tinyauth.svc.cluster.local:3000/api/auth/nginx
        nginx.ingress.kubernetes.io/auth-signin-redirect-param: redirect_uri
