app-template:
  controllers:
    main:
      annotations:
        reloader.stakater.com/auto: "true"
      type: statefulset
      replicas: 1
      initContainers:
        copy-scripts:
          image:
            repository: ubuntu
            tag: 24.04
          command:
            - /bin/bash
            - -c
            - |
              cp /scripts/pushover-notifier.sh /mnt/scripts
              chmod +x /mnt/scripts/*
      containers:
        main:
          image:
            repository: ghcr.io/paperless-ngx/paperless-ngx
            tag: 2.20.5
          env:
            COMPOSE_PROJECT_NAME: paperless
            PAPERLESS_CONSUMER_POLLING: "60"
            PAPERLESS_CONSUMER_RECURSIVE: "true"
            PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS: "true"
            PAPERLESS_OCR_LANGUAGES: slv eng
            PAPERLESS_OCR_LANGUAGE: slv+eng
            PAPERLESS_ENABLE_HTTP_REMOTE_USER: "true"
            PAPERLESS_PORT: 8000
            PAPERLESS_REDIS: redis://redis-paperless.redis.svc.cluster.local:6379
            PAPERLESS_TIKA_ENABLED: 1
            PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://gotenberg.gotenberg.svc.cluster.local:3000
            PAPERLESS_TIKA_ENDPOINT: http://tika.tika.svc.cluster.local:9998
            PAPERLESS_TASK_WORKERS: 2
            PAPERLESS_TIME_ZONE: "Europe/Ljubljana"
            PAPERLESS_CONSUMPTION_DIR: /mnt/inbox
            PAPERLESS_MEDIA_ROOT: /mnt/paperless
            PAPERLESS_POST_CONSUME_SCRIPT: /mnt/scripts/pushover-notifier.sh
            USERMAP_UID: 1028
            USERMAP_GID: 100
          envFrom:
            - secretRef:
                name: paperless-secret
          resources:
            requests:
              cpu: 23m
              memory: 2975M
            limits:
              memory: 6572M
      pod:
        securityContext:
          fsGroup: 100
          fsGroupChangePolicy: "OnRootMismatch"
  service:
    main:
      ports:
        http:
          port: 8000
  ingress:
    main:
      enabled: true
      className: internal
      annotations:
        nginx.ingress.kubernetes.io/auth-url: http://tinyauth.tinyauth.svc.cluster.local:3000/api/auth/nginx
        nginx.ingress.kubernetes.io/auth-signin-redirect-param: redirect_uri
  persistence:
    data:
      enabled: true
      existingClaim: paperless
      globalMounts:
        - path: /usr/src/paperless/data
    media:
      enabled: true
      type: nfs
      path: /volume1/paperless
      globalMounts:
        - path: /mnt/paperless
    inbox:
      enabled: true
      type: nfs
      path: /volume1/paperless_inbox
      globalMounts:
        - path: /mnt/inbox
    notifier:
      enabled: true
      type: configMap
      name: pushover-notifier
      globalMounts:
        - path: /scripts/pushover-notifier.sh
          subPath: pushover-notifier.sh
          readOnly: true
    scripts:
      enabled: true
      type: emptyDir
      mountPath: /mnt/scripts
      globalMounts:
        - path: /mnt/scripts
