app-template:
  controllers:
    main:
      replicas: 1
      type: statefulset
      containers:
        main:
          image:
            repository: ghcr.io/advplyr/audiobookshelf
            tag: 2.7.0
          env:
            TZ: Europe/Ljubljana
            AUDIOBOOKSHELF_UID: 1028
            AUDIOBOOKSHELF_GID: 100
            CONFIG_PATH: /config
            METADATA_PATH: /config/metadata
          resources:
            requests:
              cpu: 100m
              memory: 100Mi
            limits:
              memory: 500Mi
      pod:
        securityContext:
          runAsUser: 1028
          runAsGroup: 100
          fsGroup: 100
          fsGroupChangePolicy: "OnRootMismatch"
  service:
    main:
      ports:
        http:
          port: 80
  ingress:
    main:
      enabled: true
      className: external
      annotations:
        hajimari.io/enable: "true"
        hajimari.io/icon: mdi:podcast
        hajimari.io/appName: audiobookshelf
        hajimari.io/info: Self-hosted audiobook and podcast server
  persistence:
    config:
      enabled: true
      existingClaim: audiobookshelf
    data:
      enabled: true
      type: nfs
      path: /volume1/data
      globalMounts:
        - path: /data
    cache:
      enabled: true
      type: emptyDir
      globalMounts:
        - path: /.npm
