volsync:
    repository: ENC[AES256_GCM,data:imCHfQbEMfMC8XSt3aCFaKxN4yuu+/Zey9eOPalw4Lw+XfGJkS4Faw==,iv:C7taLJbPeZVK4YNthsmyxCUZzTR58IT5pay9iLb4Cgk=,tag:yEtb8IAzSM821iQOoytS2g==,type:str]
    password: ENC[AES256_GCM,data:qHT7ws21bQEbfbW+grUDncJ4WwoS2I2Qj4eBhOFgOmg=,iv:fV4xkC7MSF+2pfRp52BX5waUnnSdQXy3jMpQdkPMOJA=,tag:TJzjTSSI+P7CnmcmZxdIrQ==,type:str]
    accessKey: ENC[AES256_GCM,data:bzMfsgL7cLV5Dps+eVVPAA==,iv:ayxYeZF8VWWRWcv2ASNXFjRVE0mpKh3FW0KL/VkrPVA=,tag:EmzLVy2Nb1T1Dexd6tqs0w==,type:str]
    secretKey: ENC[AES256_GCM,data:g9TE2BzvSVNnWaynxNBzoj+zYoy2KeXtVfXFN0OR4rc=,iv:t5Y6yjp9dNr08R7pJWHKohivm2sg++jNu/RU8qCBpKk=,tag:HXeVVzawA0zfzXUO3UYsJw==,type:str]
app-template:
    controllers:
        main:
            containers:
                main:
                    env:
                        RADARR__APPLICATION_URL: ENC[AES256_GCM,data:Mw5gJmsVzd0PCHxRXEC4JtcuP2rGwjqJL5Q=,iv:q0wK8GSHTTcrxGFf5GWTW+rh+eYa3xFe3miXtrMiwfs=,tag:eOR921wQcIzJhjGJZJ4Bvw==,type:str]
                        RADARR__API_KEY: ENC[AES256_GCM,data:65PfnI9WJLcPBzVMq84cX0IUU8QAa0IwdRZGJelcyoM=,iv:H3yDtd/58Sumth2KybXUVqRAHAqkQRbIHv4jjT1sshw=,tag:ILtJzRSZ5LkF++Rt2v+myA==,type:str]
    ingress:
        main:
            annotations:
                nginx.ingress.kubernetes.io/auth-signin: ENC[AES256_GCM,data:ZNCnFtaOfDTFDkrRgu/TXSe2m4ktFiKKi2eo,iv:+MhxcmusByoXOjugAea8FVRsqEOvr4p4MYpduqb8NdY=,tag:ayKP0i2mwYkYCwei9x5qaA==,type:str]
            hosts:
                - host: ENC[AES256_GCM,data:U717ZmNEVf+t4dxe6RCz1GTP,iv:vTGc1FDHg7qYdvlNeHplHk571KxYCGW39IztRNjHGl8=,tag:86K5C4E3hMRIS4jUYfh3NQ==,type:str]
                  paths:
                    - path: ENC[AES256_GCM,data:2g==,iv:+QiPpDSlYUPlPbr+QTtRHVn6kCWw3MTZ0eSQi7vFHBM=,tag:EApDZDmFLUsOVvVcg6oT9A==,type:str]
                      service:
                        name: ENC[AES256_GCM,data:VM79EQ==,iv:yWBxqWY2ZdFinh3pzH5VQK+lvnf3i/TTSjbn4UcxFZQ=,tag:9BGhkthpK50RXEc0vz+5NQ==,type:str]
                        port: ENC[AES256_GCM,data:ZGVGhg==,iv:UiuoSnfTGXNDmczjT8H4gnbk+qjwn/S/mKk44qjRCpw=,tag:3D3CatTNgGcIM7TcEGSYXg==,type:str]
            tls:
                - hosts:
                    - ENC[AES256_GCM,data:CvjR03LSH6/TlY31oxmqnf7D,iv:FKQq+ruPKGNXqSqs1Ehy7huyvfyZAkVidoVTSxJNPpU=,tag:5nzoAEqItYvOKUeDz/1TKA==,type:str]
    persistence:
        data:
            server: ENC[AES256_GCM,data:E08IfFSbvAhG/mmFMNFocwxb,iv:v9Tad3L2CaYhX3SKzwy5YduMlVBeVMcdIsf91/lJnyk=,tag:FiY1MlStZiEIssuNOi0Kbw==,type:str]
sops:
    age:
        - recipient: age182geyhwxahnsvcexmjgw4znm5ceulnvdlm5as9x0dqa3j39nrukqua6p5e
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB6dnRtdXdhdjg0eXV2Q2Rv
            bVZhdURVclVNQ3ZWdXdDRkZQL3h5YjdoY1ZvClJOZnIxVnZiOHk2UkJCY2RQRkZY
            OCtRRnlKRmVVMldxMDF2eW5PSXo3cDQKLS0tIEJPcUdDdkFMRVFDbkdibVVBWHZP
            bzVlY0kyNnd4UjhFbUhWaFZ2TWRJY1UKYu04y/FSJQWVs0Fd/Cs2g4sag1iipoaz
            Iqs3LNoZGYb1mA4eyYceylkxvDepJE/rbMe7GBNsYIonUxU7WL5x2Q==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-28T08:22:38Z"
    mac: ENC[AES256_GCM,data:pplo/nLFFEkrWOH6VP/F8oykCcysZpAGk93LA/hbCIpQdx0v7s1K85MfgxTv6uKs2PqmzKzjcwUN5kDwuCoYfzeCUr90SNHZYMbOjjT5vfKpoW8FkP3v/M+26wIbhY45+YO8gOo3RkuPOFnHSEKOHxpb5D3lgzZk7BSiQVxVEzs=,iv:h8iSAXEfHEESxFdNueuH/KmrfooCZLVvi3hjGr665ro=,tag:QQJjrk/RgdIDOsuLX6/xCQ==,type:str]
    unencrypted_suffix: _unencrypted
    version: 3.11.0
