---
# renovate: datasource=github-releases depName=k3s-io/k3s versioning=loose
k3s_version: v1.29.3+k3s1
ansible_user: mfin
systemd_dir: /etc/systemd/system
master_ip: "{{ hostvars[groups['master'][0]]['ansible_host'] | default(groups['master'][0]) }}"
extra_server_args: "--flannel-backend=none --disable-network-policy --disable-kube-proxy --disable local-storage --disable traefik --disable servicelb --etcd-expose-metrics=true --kube-proxy-arg metrics-bind-address=0.0.0.0 --kube-controller-manager-arg bind-address=0.0.0.0 --kube-scheduler-arg bind-address=0.0.0.0"
extra_agent_args: ""
