apiVersion: v1
kind: ConfigMap
metadata:
  name: authelia-config
data:
  config.yaml: |-
    theme: auto
    default_2fa_method: totp
    identity_validation:
      reset_password:
        jwt_secret: "{{ .Values.authelia.jwtSecret }}"
    storage:
      encryption_key: "{{ .Values.authelia.encryptionKey }}"
      local:
        path: /db/db.sqlite3

    server:
      port: 80

    authentication_backend:
      password_reset:
        disable: true
      ldap:
        attributes:
          group_name: cn
          display_name: givenName
          username: uid
          mail: mail
        implementation: custom
        address: ldap://glauth.glauth.svc.cluster.local
        timeout: 5s
        start_tls: false
        base_dn: "{{ .Values.authelia.baseDN }}"
        additional_users_dn: OU=users
        users_filter: (&({username_attribute}={input})(objectClass=posixAccount))
        groups_filter: (&(memberUid={username})(objectClass=posixGroup))
        user: "{{ .Values.authelia.user }}"
        password: "{{ .Values.authelia.password }}"

    access_control:
      default_policy: two_factor
      networks:
        - name: internal
          networks: ["10.0.0.0/8", "172.16.0.0/12", "192.168.0.0/16"]
      rules:
        - domain: ["{{ .Values.authelia.navidromeDomain }}"]
          resources: ["^/rest.*$"]
          policy: bypass
        - domain: ["{{ .Values.authelia.navidromeDomain }}"]
          resources: ["^/metrics.*$"]
          policy: deny
        - domain: ["{{ .Values.authelia.filebrowserDomain }}"]
          resources: ["^/share.*$", "^/static.*$"]
          policy: bypass

    session:
      cookies:
        - domain: auth.{{ .Values.authelia.domain }}
          authelia_url: https://auth.{{ .Values.authelia.domain }}

    notifier:
      disable_startup_check: false
      smtp:
        address: {{ .Values.authelia.smtpHost }}:465
        username: {{ .Values.authelia.smtpUsername }}
        password: {{ .Values.authelia.smtpPassword }}
        sender: "Authelia <{{ .Values.authelia.smtpSender }}>"

    telemetry:
      metrics:
        enabled: true
        address: "tcp://0.0.0.0:8080"

    identity_providers:
      oidc:
        jwks: |-
{{ .Values.authelia.issuerPrivateKey | indent 10 }}
        cors:
          endpoints: ["authorization", "token", "revocation", "introspection"]
          allowed_origins_from_client_redirect_uris: true
        clients:
          - client_id: argocd
            client_name: Argo CD
            client_secret: {{ .Values.authelia.argocdSecret }}
            public: false
            authorization_policy: two_factor
            redirect_uris:
              - {{ .Values.authelia.argocdUrl }}/auth/callback
            scopes:
              - openid
              - groups
              - email
              - profile
            userinfo_signed_response_alg: none
          - client_id: argocd-cli
            client_name: Argo CD (CLI)
            public: true
            authorization_policy: two_factor
            redirect_uris:
              - http://localhost:8085/auth/callback
            scopes:
              - openid
              - groups
              - email
              - profile
              - offline_access
            userinfo_signed_response_alg: none
          - client_id: grafana
            client_name: Grafana
            client_secret: "{{ .Values.authelia.grafanaSecret }}"
            public: false
            authorization_policy: two_factor
            pre_configured_consent_duration: 1y
            scopes:
              - openid
              - groups
              - email
              - profile
            redirect_uris:
              - {{ .Values.authelia.grafanaUrl }}/login/generic_oauth
            userinfo_signed_response_alg: none
