app-template:
  controllers:
    main:
      annotations:
        reloader.stakater.com/auto: "true"
      type: statefulset
      replicas: 1
      containers:
        main:
          image:
            repository: ghcr.io/bjw-s/calibre-web
            tag: 0.6.21@sha256:bf30cd213f643bf4f988d0dc8078cddd36b2c50514b5364a90c7e1fc90856d5f
      pod:
        securityContext:
          runAsUser: 1028
          runAsGroup: 100
          fsGroup: 100
          fsGroupChangePolicy: "OnRootMismatch"
  service:
    main:
      ports:
        http:
          port: 8083
  ingress:
    main:
      enabled: true
      className: external
      annotations:
        hajimari.io/enable: "true"
        hajimari.io/icon: bookshelf
        hajimari.io/appName: calibre-web
        hajimari.io/info: Web app that offers a clean and intuitive interface for browsing, reading, and downloading eBooks using a valid Calibre database
  persistence:
    config:
      enabled: true
      existingClaim: calibre-web
    data:
      enabled: true
      type: nfs
      path: /volume1/data
      globalMounts:
        - path: /data
