app-template:
  controllers:
    main:
      annotations:
        reloader.stakater.com/auto: "true"
      type: statefulset
      replicas: 1
      containers:
        main:
          image:
            repository: thelounge/thelounge
            tag: 4.4.3
          env:
            THELOUNGE_HOME: "/config"
  service:
    main:
      ports:
        http:
          port: 9000
  route:
    main:
      hostnames:
        - lounge.mfin.app
      parentRefs:
        - name: envoy-internal
          namespace: envoy-gateway
  persistence:
    config:
      enabled: true
      existingClaim: thelounge
