app-template:
  controllers:
    main:
      type: statefulset
      replicas: 1
      containers:
        main:
          image:
            repository: postgres
            tag: 15.16
          env:
            PGDATA: /var/lib/postgresql/data/15
          envFrom:
            - secretRef:
                name: postgres
          resources:
            requests:
              cpu: 200m
              memory: 200Mi
            limits:
              cpu: 300m
              memory: 300Mi
  service:
    main:
      ports:
        http:
          port: 5432
          protocol: TCP
  persistence:
    data:
      enabled: true
      existingClaim: postgres
      globalMounts:
        - path: /var/lib/postgresql/data
