snapshot-controller:
  # volumeSnapshotClasses:
  #   - name: local-path
  #     driver: rancher.io/local-path
  #     annotations:
  #       snapshot.storage.kubernetes.io/is-default-class: "true"
  #     deletionPolicy: Delete

  serviceMonitor:
    create: true
