apiVersion: v1
kind: ConfigMap
metadata:
  name: glauth-config
data:
  config.toml: |-
    debug = true
    [ldap]
        enabled = true
        listen = "0.0.0.0:389"
    [ldaps]
        enabled = false
    [api]
        enabled = true
        tls = false
        listen = "0.0.0.0:5555"
    [backend]
        datastore = "config"
        baseDN = "{{ .Values.glauth.baseDN }}"

    [[groups]]
        name = "svc-accounts"
        gidnumber = 5000
    [[groups]]
        name = "admin"
        gidnumber = 5001
    [[groups]]
        name = "users"
        gidnumber = 5002

    [[users]]
        name = "{{ .Values.glauth.searchUserName }}"
        uidnumber = 6000
        primarygroup = 5000
        passbcrypt = "{{ .Values.glauth.searchPassword }}"
        [[users.capabilities]]
            action = "search"
            object = "*"
    [[users]]
        name = "{{ .Values.glauth.mfinUserName }}"
        mail = "{{ .Values.glauth.mfinEmail }}"
        givenname = "{{ .Values.glauth.mfinFirstName }}"
        sn = "{{ .Values.glauth.mfinLastName }}"
        uidnumber = 6001
        primarygroup = 5002
        othergroups = [ 5001 ]
        passbcrypt = "{{ .Values.glauth.mfinPassword }}"
    [[users]]
        name = "{{ .Values.glauth.authelia.username }}"
        mail = "{{ .Values.glauth.authelia.email }}"
        givenname = "{{ .Values.glauth.authelia.firstName }}"
        sn = "{{ .Values.glauth.authelia.lastName }}"
        uidnumber = 6002
        primarygroup = 5001
        passbcrypt = "{{ .Values.glauth.authelia.password }}"
