app-template:
  controllers:
    main:
      annotations:
        reloader.stakater.com/auto: "true"
      type: statefulset
      containers:
        main:
          image:
            repository: ghcr.io/authelia/authelia
            tag: 4.39.15@sha256:d23ee3c721d465b4749cc58541cda4aebe5aa6f19d7b5ce0afebb44ebee69591
          args: ["--config", "/etc/authelia/config.yaml"]
          env:
            TZ: Europe/Ljubljana
          probes:
            liveness: &probes
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /api/health
                  port: &port 80
                initialDelaySeconds: 0
                periodSeconds: 10
                timeoutSeconds: 1
                failureThreshold: 3
            readiness: *probes
            startup:
              enabled: false
          resources:
            requests:
              cpu: 10m
              memory: 250Mi
            limits:
              memory: 1000Mi
      pod:
        securityContext:
          runAsUser: 1028
          runAsGroup: 100
          fsGroup: 100
          fsGroupChangePolicy: "OnRootMismatch"
  service:
    main:
      ports:
        http:
          port: *port
        metrics:
          enabled: true
          port: 8080
  serviceMonitor:
    main:
      enabled: true
      endpoints:
        - port: metrics
          scheme: http
          path: /metrics
          interval: 1m
          scrapeTimeout: 10s
  ingress:
    main:
      enabled: true
      className: internal
  persistence:
    config:
      enabled: true
      type: configMap
      name: authelia-config
      globalMounts:
        - path: /etc/authelia/config.yaml
          subPath: config.yaml
          readOnly: false
    db:
      enabled: true
      existingClaim: authelia
