app-template:
  controllers:
    main:
      type: statefulset
      replicas: 1
      annotations:
        reloader.stakater.com/auto: "true"
      initContainers:
        01-init-db:
          image:
            repository: ghcr.io/home-operations/postgres-init
            tag: 18.2@sha256:ae89578925b480f5972f237dda2f7a37efe36aff500d3e7bd1d3a6a3181e4191
          envFrom:
            - secretRef:
                name: postgres
      containers:
        main:
          image:
            repository: nocodb/nocodb
            tag: 0.301.2
          envFrom:
            - secretRef:
                name: nocodb
          resources:
            requests:
              cpu: 10m
              memory: 100Mi
            limits:
              memory: 750Mi
  service:
    main:
      ports:
        http:
          port: 80
  route:
    main:
      hostnames:
        - nocodb.mfin.app
      parentRefs:
        - name: envoy-internal
          namespace: envoy-gateway
  persistence:
    data:
      enabled: true
      existingClaim: nocodb
      globalMounts:
        - path: /usr/app/data
