external-dns:
  fullnameOverride: dns-external
  provider: cloudflare

  env:
    - name: CF_API_TOKEN
      valueFrom:
        secretKeyRef:
          name: dns-external-secret
          key: CF_API_TOKEN

  extraArgs:
    - --cloudflare-proxied
    - --managed-record-types=CNAME
    - --annotation-filter=external-dns.alpha.kubernetes.io/target
    - --crd-source-apiversion=externaldns.k8s.io/v1alpha1
    - --crd-source-kind=DNSEndpoint

  sources: ["crd", "ingress", "gateway-httproute"]
  txtPrefix: k8s.
  txtOwnerId: default

  podAnnotations:
    secret.reloader.stakater.com/reload: dns-external-secret

  serviceMonitor:
    enabled: true
