app-template:
  controllers:
    main:
      annotations:
        reloader.stakater.com/auto: "true"
      type: statefulset
      replicas: 1
      containers:
        main:
          image:
            repository: ghcr.io/sysadminsmedia/homebox
            tag: 0.23.1@sha256:facd9b795952602d5c54eacfcd0f3533040e6b556f461e423a2d2445ed8736f9
          env:
            TZ: Europe/Ljubljana
            HBOX_LOG_LEVEL: info
            HBOX_LOG_FORMAT: text
            HBOX_WEB_MAX_UPLOAD_SIZE: 10
            HBOX_WEB_PORT: &port 8080
            HBOX_OPTIONS_ALLOW_REGISTRATION: "false"
          resources:
            requests:
              cpu: 23m
              memory: 2975M
            limits:
              memory: 6572M
      pod:
        securityContext:
          fsGroup: 100
          fsGroupChangePolicy: "OnRootMismatch"
  service:
    main:
      ports:
        http:
          port: *port
  route:
    main:
      hostnames:
        - inventory.mfin.app
      parentRefs:
        - name: envoy-internal
          namespace: envoy-gateway
  persistence:
    data:
      enabled: true
      existingClaim: homebox
      globalMounts:
        - path: /data
