app-template:
  controllers:
    main:
      annotations:
        reloader.stakater.com/auto: "true"
      type: statefulset
      replicas: 1
      containers:
        main:
          image:
            repository: ghcr.io/sysadminsmedia/homebox
            tag: 0.22.3@sha256:b6c1362ab0450ca8fc1a347c13614a0b4f5674e1ecfa9a57a8c456612921842b
          env:
            TZ: Europe/Ljubljana
            HBOX_LOG_LEVEL: info
            HBOX_LOG_FORMAT: text
            HBOX_MEB_MAX_UPLOAD_SIZE: 10
            HBOX_WEB_PORT: &port 8080
            HBOX_OPTIONS_ALLOW_REGISTRATION: "false"
          resources:
            requests:
              cpu: 23m
              memory: 2975M
            limits:
              memory: 6572M
      pod:
        securityContext:
          fsGroup: 100
          fsGroupChangePolicy: "OnRootMismatch"
  service:
    main:
      ports:
        http:
          port: *port
  ingress:
    main:
      enabled: true
      className: internal
  persistence:
    data:
      enabled: true
      existingClaim: homebox
      globalMounts:
        - path: /data
