app-template:
  controllers:
    main:
      annotations:
        reloader.stakater.com/auto: "true"
      type: statefulset
      replicas: 1
      initContainers:
        01-init-db:
          image:
            repository: ghcr.io/home-operations/postgres-init
            tag: 18.2@sha256:ae89578925b480f5972f237dda2f7a37efe36aff500d3e7bd1d3a6a3181e4191
          envFrom:
            - secretRef:
                name: postgres
      containers:
        main:
          image:
            repository: ghcr.io/n8n-io/n8n
            tag: 2.9.1@sha256:7fc6bfb986401011cb9e7dc08389f8b8f51330a7bd0a0b7acef832b47839b9f3
          command: ["n8n"]
          env:
            GENERIC_TIMEZONE: Europe/Ljubljana
            N8N_PORT: &port 80
            N8N_EMAIL_MODE: smtp
            N8N_METRICS: true
          envFrom:
            - secretRef:
                name: n8n
          probes:
            liveness: &probes
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /healthz
                  port: *port
                initialDelaySeconds: 0
                periodSeconds: 10
                timeoutSeconds: 1
                failureThreshold: 3
            readiness: *probes
            startup:
              enabled: false
  service:
    main:
      ports:
        http:
          port: *port
  route:
    main:
      hostnames:
        - n8n.mfin.app
      parentRefs:
        - name: envoy-internal
          namespace: envoy-gateway
  persistence:
    data:
      existingClaim: n8n
      globalMounts:
        - path: /home/node/.n8n
