app-template:
  controllers:
    main:
      replicas: 1
      type: statefulset
      containers:
        main:
          image:
            repository: ghcr.io/home-operations/tautulli
            tag: 2.16.0@sha256:772e1af814159bd7e774273d4f9170b1a0f7129f2ad39be5619a458b7b0fd4b0
          env:
            TZ: Europe/Ljubljana
          resources:
            requests:
              cpu: 10m
              memory: 250Mi
            limits:
              memory: 500Mi
      pod:
        securityContext:
          runAsUser: 1028
          runAsGroup: 100
          fsGroup: 100
          fsGroupChangePolicy: "OnRootMismatch"
  service:
    main:
      ports:
        http:
          port: 8181
  ingress:
    main:
      enabled: true
      className: internal
  persistence:
    config:
      enabled: true
      existingClaim: tautulli
