prometheus-blackbox-exporter:
  fullnameOverride: blackbox-exporter
  pspEnabled: false
  ingress:
    enabled: true
    className: internal
    annotations:
      nginx.ingress.kubernetes.io/auth-url: http://tinyauth.tinyauth.svc.cluster.local:3000/api/auth/nginx
      nginx.ingress.kubernetes.io/auth-signin-redirect-param: redirect_uri
  securityContext:
    readOnlyRootFilesystem: true
    allowPrivilegeEscalation: false
    capabilities:
      add: ["NET_RAW"]
  config:
    modules:
      http_2xx:
        prober: http
        timeout: 5s
        http:
          valid_http_versions: ["HTTP/1.1", "HTTP/2.0"]
          follow_redirects: true
          preferred_ip_protocol: "ip4"
      icmp:
        prober: icmp
        timeout: 20s
        icmp:
          preferred_ip_protocol: "ip4"
      tcp:
        prober: tcp
        timeout: 5s
        tcp:
          preferred_ip_protocol: "ip4"
      dns_blocking:
        prober: dns
        timeout: 5s
        dns:
          query_name: "ssl.google-analytics.com"
          query_type: "A"
          valid_rcodes:
            - NOERROR
          validate_answer_rrs:
            fail_if_not_matches_regexp:
              - ".*0.0.0.0"
  serviceMonitor:
    enabled: false
  prometheusRule:
    enabled: true
    additionalLabels:
      app: prometheus-operator
      release: prometheus
    rules:
      - alert: BlackboxProbeFailed
        expr: probe_success == 0
        for: 5m
        labels:
          severity: critical
        annotations:
          description: |-
            The target {{ $labels.instance }} is currently unreachable
