apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: autobrr-secret
spec:
  refreshInterval: 1h0m0s
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secrets-manager
  target:
    name: autobrr-secret
    template:
      data:
        AUTOBRR__OIDC_CLIENT_SECRET: "{{ `{{ .oidcClientSecret }}` }}"
  data:
    - secretKey: oidcClientSecret
      remoteRef:
        key: "AUTOBRR_OIDC_CLIENT_SECRET"
