app-template:
  controllers:
    main:
      annotations:
        reloader.stakater.com/auto: "true"
      type: statefulset
      containers:
        main:
          image:
            repository: ghcr.io/steveiliop56/tinyauth
            tag: v4.1.0@sha256:402ee231204757a3e01b4aaba9e4aa09a3c7c4680a82bc47135632ec8864b8c8
          env:
            TZ: Europe/Ljubljana
            PROVIDERS_POCKETID_CLIENT_ID: tinyauth
            PROVIDERS_POCKETID_SCOPES: openid email profile groups
            PROVIDERS_POCKETID_NAME: Pocket ID
            OAUTH_AUTO_REDIRECT: "pocketid"
            APP_URL: "https://auth.mfin.app"
            PROVIDERS_POCKETID_AUTH_URL: "https://pocket.mfin.app/authorize"
            PROVIDERS_POCKETID_TOKEN_URL: "https://pocket.mfin.app/api/oidc/token"
            PROVIDERS_POCKETID_USER_INFO_URL: "https://pocket.mfin.app/api/oidc/userinfo"
            PROVIDERS_POCKETID_REDIRECT_URL: "https://auth.mfin.app/api/oauth/callback/pocketid"
          envFrom:
            - secretRef:
                name: tinyauth-secret
      pod:
        securityContext:
          runAsUser: 1028
          runAsGroup: 100
          fsGroup: 100
          fsGroupChangePolicy: "OnRootMismatch"
  service:
    main:
      controller: main
      ports:
        http:
          port: 3000
  route:
    main:
      hostnames:
        - auth.mfin.app
      parentRefs:
        - name: envoy-internal
          namespace: envoy-gateway
  persistence:
    data:
      enabled: true
      existingClaim: tinyauth
