apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: filebrowser-quantum
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-hostpath
  resources:
    requests:
      storage: 1Gi
