---
name: "Publish Cloudflare Networks"

on:
  workflow_dispatch:

env:
  DEFAULT_CLOUDFLARE_NETWORKS_FILE: |-
    k8s/networking/nginx-external/values.yaml

jobs:
  cloudflare-networks:
    name: Cloudflare Networks
    runs-on: ubuntu-latest
    steps:
      - name: Generate Token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        id: generate-token
        with:
          app_id: "${{ secrets.BOT_APP_ID }}"
          private_key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: "${{ steps.generate-token.outputs.token }}"

      - name: Cloudflare Networks
        run: |
          bash ./.github/scripts/cloudflare-networks.sh $DEFAULT_CLOUDFLARE_NETWORKS_FILE

      - name: Create pull request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          token: "${{ steps.generate-token.outputs.token }}"
          committer: "mfin-bot <123061670+mfin-bot[bot]@users.noreply.github.com>"
          author: "mfin-bot <123061670+mfin-bot[bot]@users.noreply.github.com>"
          branch: github-action/update-cloudflare-networks
          delete-branch: true
          title: "chore(github-action): update cloudflare networks"
          signoff: true
          commit-message: "chore(github-action): update cloudflare networks"
          body: |
            Update cloudflare networks middleware from https://api.cloudflare.com/client/v4/ips
          labels: |
            renovate/github-action
